name: sst HelloWorld

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  id-token: write      # REQUIRED for GitHub OIDC
  contents: read       # REQUIRED to read repo contents

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Lint & Tests
        run: |
          npm run lint || true

      - name: Configure AWS OIDC Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}
          role-session-name: github-oidc-session

      - name: Run a one-line script
        run: echo Hello, world!

      - name: SST Deploy
        run: npm run deploy
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
